/* Colors: http://htmlcolorcodes.com/ */

html, body {
    height: 100%;
}

body {
    padding: 1em;

    font-family: sans-serif;
    color: #444;
}

.info {
    max-width: 500px;
    font-weight: normal;
}

.info .major,
.info .minor,
.info .dominant {
    margin: 0;
}

.progression,
.progression * {
    text-align: justify;
    word-wrap: break-word;
    margin: 4px;
}

.chord-name.selected {
    background-color: tomato;
}

.chord-selector {
    color: #444;
    text-decoration: none;
}

.progression {
    margin: 0;
    font-weight: bold;
    font-size: 1.5em;
}

.minor {
    /* color: rgb(52, 152, 219); */
}

.major {
    /* color: rgb(46, 204, 113); */
}

.dominant {
    /* color: rgb(243, 156, 18); */
}

.minor,
.major,
.dominant {
    margin: 8px 16px 0 0;
}

.chord-substitutions {
    top: -8px;
    right: -16px;
    /* cursor: pointer; */
    /* width: 16px; */
    margin: 0;
}

.chord-substitutions a {
    font-size: 10px;
    line-height: 1;
    color: rgba(0,0,0,0.5);
    text-decoration: none;
    text-align: center;
}

.substitution-header {
    position: absolute;
    top: -16px;
    left: -16px;
    margin: 0;
    font-size: 16px;
    line-height: 1;
    color: #444;
    white-space: no-wrap;
}

.substitution-collapse {
    font-size: 14px;
    width: 16px;
    text-align: center;
    text-decoration: none;
    margin: 0;
    color: #444;
}

.substitution {
    position: relative;
    margin: 4px;
    padding: 0;
    font-size: 1em;
}

.substitution .substitution-type {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
}

.ii-V    { border: 16px solid #eee; }
.V-I     { border: 16px solid #ddd; }
.tritone { border: 16px solid #ccc; }
